<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-5">StudentsDB</h1>
        <p class="lead">Simple application for managing table of students</p>
    </div>
</div>
<nav class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link" routerLink="/students">Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
    </li>
</nav>
<router-outlet></router-outlet>