<div class="card" >
    <div class="card-header">
    New student
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Student's data</span>
          </div>
        <input class="form-control" placeholder="Index" aria-label="Index" #student_index/>
        <input class="form-control" placeholder="First Name" aria-label="First Name" #student_first_name/>
        <input class="form-control" placeholder="Last Name" aria-label="Last Name" #student_last_name/>
        <div class="input-group-append">
            <button type="button" class="btn btn-primary" (click)="
                create(+student_index.value, student_first_name.value, student_last_name.value);
                student_index.value=''; student_last_name.value=''; student_first_name.value='';">
                Add
            </button>
        </div>
    </div>
</div>

<div class="card" >
    <div class="card-header">
    List of students
    </div>
        <div class="input-group mb-3" *ngFor="let student of students">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-danger" title="Delete" (click)="delete(student)">Delete</button>
            </div>
            
            <a class="form-control btn btn-light" routerLink="/detail/{{student.id}}"><span >{{student.index}}</span></a>
            <span class="form-control">{{student.firstName}}</span>
            <span class="form-control">{{student.lastName}}</span>
        </div>
</div>