<div class="card" >
    <div class="card-header">
        <span id="">{{ student.firstName }} {{ student.lastName }} details</span>
    </div>
    <div *ngIf="student" class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="" >Id: {{ student.id }}</span>
        </div>
        <input class="form-control" [(ngModel)]="student.index" placeholder="index"/>
        <input class="form-control" [(ngModel)]="student.firstName" placeholder="first name"/>
        <input class="form-control" [(ngModel)]="student.lastName" placeholder="last name"/>
        <div class="input-group-append">
            <button class="btn btn-success" (click)="save()">Save</button>
        </div>
    </div>
    <button class="btn btn-dark" (click)="goBack()">Back</button>
</div>